In [39]:
import pandas as pd
from sklearn import preprocessing

In [40]:
df = pd.read_csv('Average_hsv_art.csv')
df.pop('Unnamed: 0')
df.head()

         Hue  Saturation
0  21.534362  153.943075
1  52.334783  130.735873
2  31.583697  109.099321
3  87.555771  119.652515
4  59.923330  139.148389

In [41]:
#normalization
min_max_scaler = preprocessing.MinMaxScaler()
df_scaled = min_max_scaler.fit_transform(df)
hsv_art_normal = pd.DataFrame(df_scaled)
df_normalized = pd.DataFrame(df_scaled, columns = ['Hue','Saturation'])
df_normalized.head()

        Hue  Saturation
0  0.149434    0.690954
1  0.400406    0.586384
2  0.231319    0.488890
3  0.687398    0.536443
4  0.462240    0.624290

In [42]:
df2 = pd.read_csv('Average_hsv_arc.csv')
df2.pop('Unnamed: 0')
df2.head()

         Hue  Saturation
0  12.335475  136.705829
1  90.150061  123.811073
2  87.979490   65.092778
3  61.950761   59.766570
4  91.531847   31.206398

In [45]:
df2.shape

(807, 2)

In [47]:
df.shape

(784, 2)

In [43]:
#normalization
min_max_scaler = preprocessing.MinMaxScaler()
df2_scaled = min_max_scaler.fit_transform(df2)
hsv_arc_normal = pd.DataFrame(df2_scaled)

df2_normalized = pd.DataFrame(df2_scaled, columns = ['Hue','Saturation'])
df2_normalized.head()

        Hue  Saturation
0  0.082535    0.600846
1  0.603184    0.544172
2  0.588661    0.286094
3  0.414506    0.262685
4  0.612429    0.137158

In [44]:
df_normalized.to_csv('normalized_average_hsv_art.csv')
df2_normalized.to_csv('normalized_average_hsv_arc.csv')