In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Average_hsv_arc.csv")
df.pop('Unnamed: 0')
df.head(1)

         Hue  Saturation
0  12.335475  136.705829

In [2]:
df2 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\color_palette_and_hue_contrast_arc.csv")
df2.head(1)

,dominant_hue_1,dominant_sat_1,dominant_val_1,dominant_hue_2,dominant_sat_2,dominant_val_2,dominant_hue_3,dominant_sat_3,dominant_val_3,hue_contrast_c1_c2,hue_contrast_c1_c3,hue_contrast_c1_c4,hue_contrast_c1_c5,hue_contrast_c2_c3,hue_contrast_c2_c4,hue_contrast_c2_c5,hue_contrast_c3_c4,hue_contrast_c3_c5,hue_contrast_c4_c5,like_rate_segmentation
0,20.0,62.637363,35.686275,23.265306,21.39738,89.803922,22.105263,80.851064,18.431373,3.265306,2.105263,2.736842,5.0,1.160043,0.528464,1.734694,0.631579,2.894737,2.263158,0.0

In [3]:
df3 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\dataset_info_by_date_arc.csv")
df3.head(1)

,id,username,full_path,account_created_at,posted_at,days_between,likes,like_rate
0,2778569169971553819,le_blanc,/content/drive/MyDrive/Database/ARC DATABASE/l...,2011-08-14 00:00:00,2022-02-21,3844,2260.662043,0.009483

In [4]:
df4 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Dominant_Unique_Hue_arc.csv")
df4.pop('Unnamed: 0')
df4.head(1)

   Number_of_Unique_Hues  Pixels_Belong_To_Dominant_Hue  like_rate
0                    129                         477100   0.009483

In [5]:
df5 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Entropy_ARC_Ters.csv")
df5.pop('Unnamed: 0')
df5.head(1)

    Entropy
0  7.687392

In [6]:
df6 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\like_rate_segmentation_by_date_arc.csv")
df6.head(1)

   like_rate_segmentation
0                       1

In [7]:
df7 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\michelson_arc.csv")
df7.head(1)

   michelson_contrast
0                 1.0

In [8]:
df8 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Wmc_ARC_Ters.csv")
df8.pop('Unnamed: 0')
df8.head(1)

,Wmc,Wmc2,Wmc3,Wmc4,Wmc5,Wmc6,Wmc7,Wmc8,Wmc9,Wmc10,...,Wmc141,Wmc142,Wmc143,Wmc144,Wmc145,Wmc146,Wmc147,Wmc148,Wmc149,Wmc150
0,2,2,0,1,2,3,4,6,5,10,...,5,3,0,0,0,0,0,0,0,1

In [9]:
df9 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\reduced_laplacian_arc.csv")
df9.pop('Unnamed: 0')
df9.head(1)

   laplacian
0   1.717244

In [10]:
df10 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\brightness_ARC.csv")
df10.pop('Unnamed: 0')
df10.head(1)

   Brightness
0  101.602062

In [11]:
df11 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Dtvarc_ters_normal_updated.csv")
df11.pop('Unnamed: 0')
df11.head(1)

,DTVnorm,DTVnorm2,DTVnorm3,DTVnorm4,DTVnorm5,DTVnorm6,DTVnorm7,DTVnorm8,DTVnorm9,DTVnorm10,DTVnorm11,DTVnorm12
0,0.126229,0.120996,0.118913,0.118114,0.118105,0.119525,0.124714,0.135229,0.146307,0.150997,0.146282,0.135895

In [12]:
result = pd.concat([df,df2,df4,df5,df6,df7,df8,df9,df10,df11], axis=1)
low1 = pd.concat([df,df2,df4,df6,df7,df9,df10], axis=1)

In [13]:
result

,Hue,Saturation,dominant_hue_1,dominant_sat_1,dominant_val_1,dominant_hue_2,dominant_sat_2,dominant_val_2,dominant_hue_3,dominant_sat_3,...,DTVnorm3,DTVnorm4,DTVnorm5,DTVnorm6,DTVnorm7,DTVnorm8,DTVnorm9,DTVnorm10,DTVnorm11,DTVnorm12
0,12.335475,136.705829,20.000000,62.637363,35.686275,23.265306,21.397380,89.803922,22.105263,80.851064,...,0.118913,0.118114,0.118105,0.119525,0.124714,0.135229,0.146307,0.150997,0.146282,0.135895
1,90.150061,123.811073,359.347826,37.551020,96.078431,358.378378,62.011173,70.196078,54.634146,100.000000,...,0.036822,0.036121,0.035722,0.035765,0.036825,0.039406,0.042423,0.044114,0.043598,0.041609
2,87.979490,65.092778,211.500000,53.571429,87.843137,213.975904,35.319149,92.156863,40.000000,2.912621,...,0.039756,0.040898,0.042489,0.044489,0.046747,0.048719,0.049675,0.048793,0.045961,0.042475
3,61.950761,59.766570,200.000000,1.630435,72.156863,170.000000,38.709677,12.156863,240.000000,4.494382,...,0.177794,0.167443,0.158393,0.152336,0.152643,0.162505,0.180645,0.198817,0.207939,0.206684
4,91.531847,31.206398,217.500000,3.347280,93.725490,213.750000,22.857143,54.901961,207.272727,12.359551,...,0.106403,0.098355,0.090338,0.083915,0.084423,0.097510,0.116607,0.131332,0.135731,0.131042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,33.495109,62.682502,197.647059,8.762887,76.078431,38.571429,29.787234,18.431373,35.000000,4.780876,...,0.083790,0.082520,0.081372,0.080956,0.083567,0.091366,0.100610,0.105342,0.102871,0.095795
803,69.265139,10.262431,210.000000,0.840336,93.333333,220.384615,49.523810,41.176471,326.666667,5.421687,...,0.057022,0.065838,0.074977,0.083986,0.091286,0.093834,0.090348,0.080777,0.067050,0.053862
804,92.743739,169.102544,184.000000,5.905512,99.607843,189.073171,96.244131,83.529412,157.500000,9.356725,...,0.008699,0.008908,0.009174,0.009489,0.009842,0.010170,0.010339,0.010185,0.009687,0.009090
805,96.380544,144.372142,192.827586,62.231760,91.372549,195.505618,37.872340,92.156863,198.000000,20.000000,...,0.047002,0.048002,0.049081,0.050447,0.052955,0.057153,0.060936,0.061471,0.057859,0.052101
806,38.671433,21.475158,120.000000,0.406504,96.470588,66.666667,25.000000,14.117647,53.333333,10.227273,...,0.037473,0.039034,0.040839,0.042867,0.045015,0.046856,0.047708,0.046540,0.043226,0.039265

In [14]:
df = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Average_hsv_art.csv")
df.pop('Unnamed: 0')
df2 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\color_palette_and_hue_contrast_art.csv")
df4 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Dominant_Unique_Hue_art.csv")
df4.pop('Unnamed: 0')
df5 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Entropy_ART_Ters.csv")
df5.pop('Unnamed: 0')
df6 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\like_rate_segmentation_by_date_art.csv")
df7 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\michelson_art.csv")
df8 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Wmc_ART_Ters.csv")
df8.pop('Unnamed: 0')
df9 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\reduced_laplacian_art.csv")
df9.pop('Unnamed: 0')
df10 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\brightness_ART.csv")
df10.pop('Unnamed: 0')
df11 = pd.read_csv(r"C:\Users\Aziz\Desktop\Github\CSV\Dtvart_ters_normal_updated.csv")
df11.pop('Unnamed: 0')

result2 = pd.concat([df,df2,df4,df5,df6,df7,df8,df9,df10,df11], axis=1)
result2.pop('id')
low2 = pd.concat([df,df2,df4,df6,df7,df9,df10], axis=1)

In [16]:
result2.head(1)

,Hue,Saturation,dominant_hue_1,dominant_sat_1,dominant_val_1,dominant_hue_2,dominant_sat_2,dominant_val_2,dominant_hue_3,dominant_sat_3,...,DTVnorm3,DTVnorm4,DTVnorm5,DTVnorm6,DTVnorm7,DTVnorm8,DTVnorm9,DTVnorm10,DTVnorm11,DTVnorm12
0,21.534362,153.943075,30.789474,78.350515,38.039216,33.658537,19.339623,83.137255,40.487805,62.755102,...,0.108352,0.110494,0.112891,0.115344,0.117595,0.119121,0.118357,0.111014,0.105754,0.103418

In [16]:
result.to_csv(r"C:\Users\Aziz\Desktop\Github\CSV\LowAndMidMergedFeatures_ARC.csv")
result2.to_csv(r"C:\Users\Aziz\Desktop\Github\CSV\LowAndMidMergedFeatured_ART.csv")
low1.to_csv(r"C:\Users\Aziz\Desktop\Github\CSV\LowMergedFeatured_ARC.csv")
low2.to_csv(r"C:\Users\Aziz\Desktop\Github\CSV\LowMergedFeatured_ART.csv")